body {
  background-color: #f1f1f1;
}
p {
    font-size: 17px;
}
h1 {
    font-size: 2em;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

div.tab {
  display: none;
  grid-template-columns: 2fr 1fr 1fr;
}

div.tab > h2 {
    grid-column: 1/4;
    text-align: center;
}
div.tab > h3 {
    grid-column: 1/4;
    text-align: center;
}

div.tab > p.left{
    grid-column:1;
    padding:7px 0px;
}

div.tab > div.container{
    grid-column:1/4;
    text-align: center;
}
@media screen and (max-width: 850 px){
    div.tab th:nth-child(3), div.tab td:nth-child(3n+0){
        display: none;
    }
}

div.tab table#result tbody tr th
div.tab table#result tr td


div.tab > div.container_right{
    grid-column:3;
    justify-self:end;
}

ul.sidenav{
  list-style-type: none;
  margin: 0;
  width: 200px;
  padding-top: 20px;
  background-color: #111;
  padding: 0px;
  color: #818181;
  font-size: 16px;
  line-height: 25.6px;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
a.sidebar{
  margin: 0;
  width: 200px;
  background-color: #111;
  color: #818181;
  font-size: 16px;
  line-height: 25.6px;
  }

ul.ml10{
  list-style-type: none;
  padding: 0;
}

li.sidebar{
  margin: 0;
  padding: 5px 8px 5px 16px;
  background-color: #111;
  color: #818181;
  font-size: 16px;
  line-height: 25.6px;
  }

div.main{
    color: rgb(33, 37, 41);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    line-height: 25.6px;
    margin-left: 200px;
    margin-right: 0px
    padding-right: 10px;
    }

.wrapper {
    grid-column:1/4;
    margin: 20px 0;
}

.toggle_radio{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 !important;
    background: rgba(0,0,0,.1);
    -webkit-border-radius: 10px;
    height: 24px;
    position: relative;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

}

.toggle_radio input[type=radio]{
  display: none;
}
.toggle_radio label{
    color: rgb(33, 37, 41);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgba(0,0,0,.9);
    z-index: 0;
    height: 20px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;

  /*background: rgba(0,0,0,.1);*/
  text-align: center;
  /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider{
  /*display: none;
  background: red;
  object-fit: contain;*/
  width:98%;
  height: 24px;
  position: absolute;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
}

input[value="True"]:checked ~ .toggle_option_slider{
  background: rgba(0,255,0,.3);
  border: 2px solid rgba(0,255,0,.1);
  grid-column:1/2;
  align-self: center;
}
input[value="N/A"]:checked ~ .toggle_option_slider{
  background: rgba(0,0,0,.3);
  border: 2px solid rgba(0,0,0,.1);
  grid-column:2/3;
  align-self: center;
}
input[value="False"]:checked ~ .toggle_option_slider{
  background: rgba(255,0,0,.3);
  border: 2px solid rgba(255,0,0,.1);
  grid-column:3/4;
  align-self: center;
}



input[type=checkbox] {
display: none;
}

.container {
    max-width: 100%;
    font-size: 13px;
}
.container_right {
    max-width: 100%;
    font-size: 13px;
}
ul.ks-cboxtags {
    list-style: none;
    padding: 0px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: rgba(0,0,0,.1);
    border: 2px solid rgba(0,0,0,.1);
    color: rgb(0,0,0);
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid rgba(0,0,0,.1);
  background: rgba(0,255,0,.3);
    color: #000;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: inline;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid rgba(0,200,0,.5);
}


#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color: #19a974;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #19a974;
}

/*top row*/
thead{
    background-color: rgb(111, 194, 159);
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #000;
}

/*top left corner*/
table:nth-child(1) > thead:nth-child(2) > tr:nth-child(1) > th:nth-child(1){
    background-color: rgb(23, 156, 125);
    border: 1px solid #000;
    color: rgb(33, 37, 41);
}


tbody{
    background-color: rgb(216, 252, 237);
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #000;
}

div.main{
    color: rgb(33, 37, 41);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 20px;
    line-height: 25.6px;
    margin-left: 200px;
    margin-right: 0px
    padding-right: 10px;
}

